legend, label[for="msg"]{
    font-weight: bold;
    margin-top: 1em;
}

label[for:nome], label[for:email], label[for:msg] {
    display: block;
}

input[type="text"], input[type="email"] , textarea {
    font-family: inherit;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: .25em .5em;
    font-size: 100%;
}
input[name="outro-assunto"] {
    width: auto;
}
fieldset > fieldset {
    display: inline;
}
label[for="outro"] {
    display: inline
}

input:focus, textarea:focus {
    background-color:  #FFD;
}

button {
    margin-left: auto;
    margin-top: 1em;
    display: block;
    border: 0;
    font-size: 1.2em;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: .5em 1em;
}

button:hover, button:focus {
    background-color: #8C1D3D;
}

input:invalid {
    box-shadow: 0 0 3px red;
}

input[value="Outro"] ~ input {
    display: none;
}

input[value="Outro"]:checked ~ input {
    display: inline;
}

.com-icone {
    position: relative;
}

.com-icone::after {
    content: "";
    background-color: #666;
    background-size: 50% 50%;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 100%;
    left: 0;
}

.com-icone + input {
    width: calc (100% - 2em);
    position: relative;
    left: 2em;
}

.com-icone[for="nome"]::after {
    background-image: url(../imagens/usuario.png);
}

.com-icone[for="email"]::after {
    background-image: url(../imagens/email.png);
}

